In [1]:
import pandas as pd
import anomeda

In [2]:
dummy_df = pd.DataFrame({'dt': [0, 1, 2, 3, 4], 
                         'a': [10, 10, 10, 20, 20], 
                         'b': [0.1, 0.1, 0.1, 0.2, 0.2], 
                         'metric': [10.5, 12.6, 11.3, 8.3, 9.8]}).set_index('dt')
    
index_name = 'dt'
metric_name = 'metric'
agg_func = 'sum'
measures_names = ['a', 'b']
measures_types = {
    'categorical': ['a'], 
    'continuous': ['b']
}

anmd_df = anomeda.DataFrame(
    dummy_df,
    measures_names=measures_names,
    measures_types=measures_types,
    index_name=None,
    metric_name=metric_name,
    agg_func=agg_func
)

In [3]:
anmd_df

     a    b  metric
dt
0   10  0.1    10.5
1   10  0.1    12.6
2   10  0.1    11.3
3   20  0.2     8.3
4   20  0.2     9.8

In [4]:
anomeda.explore_ts(data=anmd_df, min_cluster_size=3)

Skipped 3 out of 5 clusters

[('total',
  {0: (0, 3, (0.40000000000000036, 11.066666666666668)),
   1: (3, 5, (1.5, 8.3))}),
 ('`a`==10', {0: (0, 3, (0.40000000000000036, 11.066666666666668))}),
 ('`a`==10 and `b`==0',
  {0: (0, 3, (0.40000000000000036, 11.066666666666668))}),
 ('skipped', {0: (0, 2, (1.5, 8.3))})]

In [5]:
anomeda.explore_ts(data=anmd_df['metric'].values, min_cluster_size=3, breakdown='no')

[('total',
  {0: (0, 3, (0.40000000000000036, 11.066666666666668)),
   1: (3, 5, (1.5, 8.3))})]

In [6]:
type(anmd_df['metric'].values)

numpy.ndarray

In [6]:
anmd_df.reset_index()

   dt   a    b  metric
0   0  10  0.1    10.5
1   1  20  0.2    12.6
2   2  20  0.3     8.3
3   3  30  0.2     9.8

In [7]:
anmd_df.get_index_name()

['dt']

In [8]:
anmd_df

     a    b  metric
dt
0   10  0.1    10.5
1   20  0.2    12.6
2   20  0.3     8.3
3   30  0.2     9.8

In [6]:
a = (1, 2)

type(a)

tuple